@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Montserrat;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: Montserrat;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  height: inherit;
}

@media (max-width: 1190px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.lock {
  overflow: hidden;
}

@media (max-width: 479.98px) {
  .intro__btn-unit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 479.98px) {
  .intro__btn-unit .btn {
    width: 100%;
    margin: 0 0 20px;
    border-radius: .5em;
    letter-spacing: .3em;
  }
}

.header {
  padding: 12px 0;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header:after {
  content: '';
  height: 100%;
  width: 100%;
  background: coral;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

@media (max-width: 767.98px) {
  .header {
    padding: 10px 0;
  }
  .header:after {
    height: 70px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 6;
}

.header__logo-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 14px 0 0;
  border: 2px solid yellow;
}

.header__logo-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .header__logo-img {
    width: 50px;
    height: 50px;
  }
}

.header__logo-name {
  color: #2b2a2c;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 7px;
  line-height: 0.94;
}

.header__logo-profession {
  color: white;
  font-size: 12px;
}

.header__burger {
  display: none;
}

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 6;
  }
  .header__burger:before, .header__burger:after, .header__burger span {
    content: ' ';
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 5px;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__burger:after {
    bottom: 0;
  }
}

.header__burger.active span {
  display: none;
}

.header__burger.active:before {
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger.active:after {
  bottom: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 6;
}

@media (max-width: 767.98px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.8);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

.header__menu.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header__menu-item {
  color: #2b2a2c;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  position: relative;
}

.header__menu-item:not(:first-child) {
  margin: 0 0 0 40px;
}

.header__menu-item:not(:last-child):after {
  content: '';
  height: 3px;
  width: 0;
  background: #2b2a2c;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 3px;
}

@media (min-width: 992.98px) {
  .header__menu-item:hover:after {
    width: 100%;
  }
}

@media (max-width: 992.98px) {
  .header__menu-item:not(:first-child) {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 767.98px) {
  .header__menu-item {
    color: white;
    margin: 0 0 25px !important;
    font-size: 20px;
  }
}

.header__menu .header__menu-item--last {
  margin: 0 0 0 34px;
  padding: .7em 2.2em;
  border: 2px solid #2b2a2c;
  border-radius: 2em;
  background: white;
}

@media (min-width: 992.98px) {
  .header__menu .header__menu-item--last:hover {
    background: black;
    color: white;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

@media (max-width: 767.98px) {
  .header__menu .header__menu-item--last {
    color: black;
    margin: 0;
  }
}

.intro__inner {
  padding: 170px 0 166px;
  background: url(../images/intro/p1.png) no-repeat right 87px/contain white;
}

.intro__title {
  color: #2b2a2c;
  font-size: 32px;
  margin: 0 0 10px;
  line-height: 1.3;
}

.intro__title span {
  display: block;
  font-size: 45px;
  color: #2b2a2c;
  font-weight: 700;
}

.intro__sub-title {
  color: #6a696b;
  font-size: 18px;
  margin: 0 0 27px;
}

.intro__social-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 42px;
}

.intro__social-item {
  margin: 0 11px 0 0;
}

@media (min-width: 992.98px) {
  .intro__social-item:hover {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
}

.intro__social-item--last {
  margin: 0;
}

.btn {
  color: #6a696b;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding: .9em 1.8em;
  border-radius: 2em;
  border: 2px solid #6a696b;
  background: white;
  margin: 0 12px 0 0;
}

@media (min-width: 992.98px) {
  .btn:hover {
    background: black;
    color: white;
    border: 2px solid black;
    -webkit-box-shadow: 1px 0 5px gray;
            box-shadow: 1px 0 5px gray;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

.btn--hire {
  padding: .8em 3em;
}

.footer {
  background: black;
}

@media (max-width: 992.98px) {
  .footer {
    padding: 20px;
  }
}

.footer__inner {
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992.98px) {
  .footer__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992.98px) {
  .footer__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 479.98px) {
  .footer__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
  }
}

.footer__copy {
  color: #8d8d8e;
  font-size: 14px;
  margin: 0 31px 0 0;
}

@media (max-width: 479.98px) {
  .footer__copy {
    margin: 0;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479.98px) {
  .footer__social {
    margin: 0 0 10px;
  }
}

.footer__social-item:not(:last-child) {
  margin: 0 16px 0 0;
}

@media (max-width: 767.98px) {
  .footer__social-item:not(:last-child) {
    margin: 0 10px 0 0;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992.98px) {
  .footer__nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 20px;
  }
}

@media (max-width: 400px) {
  .footer__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

.footer__nav-item {
  color: #8d8d8e;
  font-size: 14px;
  margin: 0 20px 0 0;
  text-transform: capitalize;
}

@media (min-width: 992.98px) {
  .footer__nav-item:hover {
    text-decoration: underline;
  }
}

@media (max-width: 767.98px) {
  .footer__nav-item {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 400px) {
  .footer__nav-item {
    margin: 15px 0 0;
  }
}

.footer__nav-item--btn {
  margin: 0;
  background: none;
  border: 1px solid #8d8d8e;
  padding: .4em 1.5em;
  border-radius: 20px;
}

@media (min-width: 992.98px) {
  .footer__nav-item--btn:hover {
    background: white;
    color: black;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

.category {
  background: white;
}

.category__nav {
  margin: 0 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category__nav-item {
  color: #6a696b;
  font-size: 12px;
  background: white;
  text-transform: capitalize;
  position: relative;
}

.category__nav-item:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background: coral;
  opacity: 0;
}

.category__nav-item:not(:last-child) {
  margin: 0 30px 0 0;
}

.category__nav-item.active {
  color: coral;
}

.category__nav-item.active:after {
  opacity: 1;
}

.category__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -15px;
}

@media (max-width: 992.98px) {
  .category__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.category__unit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 15px;
}

@media (max-width: 992.98px) {
  .category__unit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 767.98px) {
  .category__unit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
}

.category__unit-inner {
  -webkit-box-shadow: 1px 1px 10px 3px #eeeeee;
          box-shadow: 1px 1px 10px 3px #eeeeee;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0 30px;
}

@media (min-width: 992.98px) {
  .category__unit-inner:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

.category__unit-img {
  width: 100%;
  height: 300px;
  position: relative;
  background: #eeeeee;
}

.category__unit-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.category__unit-text {
  background: white;
  padding: 19px 20px 15px 13px;
}

.category__unit-label {
  color: #2b2a2c;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin: 0 0 15px;
}

.category__unit-label span {
  font-weight: 700;
  color: coral;
}

.category__unit-title {
  display: inline-block;
}

.category__unit-title a {
  color: #2b2a2c;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.category__unit-date {
  display: inline-block;
  color: #2b2a2c;
  font-size: 16px;
  font-weight: 700;
  float: right;
}

.link__unit {
  margin: 12px 0 127px;
  text-align: center;
}

.link__item {
  display: inline-block;
  color: #2b2a2c;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 1em 1.5em;
  border: 2px solid black;
  border-radius: 2em;
}

@media (min-width: 992.98px) {
  .link__item:hover {
    background: black;
    color: white;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

.about-me {
  margin: 0 0 140px;
}

@media (max-width: 992.98px) {
  .about-me {
    margin: 0 0 90px;
  }
}

@media (max-width: 767.98px) {
  .about-me {
    margin: 0 0 40px;
  }
}

@media (max-width: 479.98px) {
  .about-me {
    margin: 0 0 20px;
  }
}

.about-me__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1190px) {
  .about-me__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 992.98px) {
  .about-me__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

.about-me__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 542px;
          flex: 0 0 542px;
  height: 606px;
}

.about-me__img img {
  max-width: 100%;
}

@media (max-width: 1190px) {
  .about-me__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
    height: auto;
  }
}

@media (max-width: 992.98px) {
  .about-me__img {
    display: none;
  }
}

.about-me__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 60px 0 37px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media (max-width: 767.98px) {
  .about-me__text {
    padding: 20px;
  }
}

.about-me__title {
  color: #2b2a2c;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-me__title span {
  color: #dedede;
  font-size: 92px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 10px 0 30px;
}

@media (max-width: 1190px) {
  .about-me__title {
    font-size: 40px;
  }
  .about-me__title span {
    font-size: 75px;
  }
}

@media (max-width: 767.98px) {
  .about-me__title {
    font-size: 30px;
  }
  .about-me__title span {
    font-size: 60px;
  }
}

@media (max-width: 479.98px) {
  .about-me__title {
    font-size: 25px;
  }
  .about-me__title span {
    font-size: 45px;
  }
}

.about-me__paragraph {
  color: #717072;
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 0 20px;
}

.mention {
  background: url(../images/mention/bg.png) no-repeat center/cover #332f30;
}

.mention__inner {
  min-height: 240px;
  padding: 70px 0;
  margin: 0 auto 120px;
  position: relative;
}

.mention__paragraph {
  color: #eeeeee;
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 2.29;
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

@media (max-width: 767.98px) {
  .mention__paragraph {
    padding: 0 10px;
  }
}

.mention__author {
  display: inline-block;
  position: absolute;
  bottom: -120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mention__author-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  border: 5px solid coral;
  margin: 0 0 18px;
}

.mention__author-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.mention__name {
  color: #2b2a2c;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px;
}

.mention__profession {
  color: #717072;
  font-size: 14px;
  margin: 0 0 8px;
}

.mention__rating img {
  width: 15px;
  height: auto;
}

.read-me {
  padding: 107px 0 136px;
}

.read-me__title {
  color: #2b2a2c;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 19px;
  text-align: center;
}

.read-me__subtitle {
  color: #717072;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 56px;
  text-align: center;
}

.read-me__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -15px;
}

@media (max-width: 767.98px) {
  .read-me__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.read-me__unit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  width: 33.333%;
  margin: 0 0 20px;
  padding: 0 15px;
}

@media (max-width: 767.98px) {
  .read-me__unit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
}

@media (max-width: 479.98px) {
  .read-me__unit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.read-me__unit-img {
  position: relative;
  height: 257px;
  overflow: hidden;
  margin: 0 0 24px;
}

.read-me__unit-img a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.read-me__unit-label {
  width: 77px;
  height: 77px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.read-me__unit-label a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.read-me__unit-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin: 0 0 15px;
}

.read-me__unit-title a {
  color: #2b2a2c;
}

@media (min-width: 992.98px) {
  .read-me__unit-title a:hover {
    text-decoration: underline;
  }
}

.read-me__unit-category {
  color: #2b2a2c;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin: 0 0 29px;
}

.read-me__unit-paragraph {
  color: #717072;
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  margin: 0 0 37px;
}

.read-me__unit-link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.read-me__unit-link a {
  color: #717072;
  display: inline-block;
  padding: .8em 1.4em;
  border: 2px solid black;
  border-radius: 2em;
}

@media (min-width: 992.98px) {
  .read-me__unit-link a:hover {
    background: black;
    color: white;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

.read-me__link {
  text-align: right;
  font-size: 14px;
  text-decoration: underline;
  letter-spacing: 0.7px;
}

.read-me__link a {
  color: #717072;
}

@media (min-width: 992.98px) {
  .read-me__link a:hover {
    color: black;
  }
}

.m-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
}

.m-gallery.show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.m-gallery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.m-gallery__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 500px;
  background: white;
}

.m-gallery__img-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  width: 65%;
  height: 500px;
}

.m-gallery__img-slider {
  height: 500px;
  position: relative;
}

.m-gallery__img-slider-item {
  position: relative;
  height: 500px;
}

.m-gallery__img-slider-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-gallery__text-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  position: relative;
  padding: 35px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.m-gallery__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.m-gallery__close-btn img {
  width: 100%;
  height: 100%;
}

@media (min-width: 992.98px) {
  .m-gallery__close-btn:hover {
    -webkit-transform: scale(1.1) rotate(180deg);
            transform: scale(1.1) rotate(180deg);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

.m-gallery__box-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 10px;
}

.m-gallery__box-subtitle {
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.m-gallery__box-subtitle span {
  margin: 0 0 0 15px;
  padding: 0 0 0 15px;
  position: relative;
}

.m-gallery__box-subtitle span:after {
  content: '';
  height: 100%;
  width: 2px;
  background: gray;
  position: absolute;
  top: 0;
  left: 0;
}

.m-gallery__box-client {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 17px;
  margin: 0 0 5px;
}

.m-gallery__box-client-value {
  font-size: 14px;
  font-style: italic;
  text-transform: capitalize;
  margin: 0 0 30px;
}

.m-gallery__box-text {
  margin: 0 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.m-gallery__box-text p {
  font-size: 12px;
  line-height: 2;
  margin: 0 0 10px;
}

.m-gallery__box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-gallery__box-btn-item {
  text-transform: uppercase;
  background: none;
  position: relative;
}

.m-gallery__box-btn-item:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  right: 0;
  height: 8px;
  width: 8px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
}

@media (min-width: 992.98px) {
  .m-gallery__box-btn-item:hover {
    background: lightgray;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

.m-gallery__box-item--prev {
  padding: 0 0 0 10px;
}

.m-gallery__box-item--prev:after {
  -webkit-transform: translateY(-50%) rotate(-133deg);
          transform: translateY(-50%) rotate(-133deg);
  left: 0;
}

.m-gallery__box-item--next {
  padding: 0 10px 0 0;
}

.m-gallery__img-slider .slick-list {
  overflow: hidden;
}

.m-gallery__img-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-gallery__img-slider .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-gallery__img-slider .slick-dots li:not(:last-child) {
  margin: 0 10px 0 0;
}

.m-gallery__img-slider .slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  background: black;
}

.m-gallery__img-slider .slick-dots li.slick-active button {
  background: red;
}

.m-resume {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
}

.m-resume.show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.m-resume__item {
  background: white;
  padding: 50px 20px 30px;
  width: 800px;
  height: 900px;
  overflow-y: auto;
  position: relative;
}

.m-resume__item .intro__btn-unit {
  text-align: center;
}

.m-resume__item-head {
  margin: 0 0 30px;
}

.m-resume__item-close-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.m-resume__item-close-btn img {
  width: 100%;
  height: 100%;
}

@media (min-width: 992.98px) {
  .m-resume__item-close-btn:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
  }
}

.m-resume__title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 50px;
  letter-spacing: 10px;
}

.m-resume__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-resume__btn-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 7px;
}

.m-resume__btn {
  font-size: 15px;
  background: white;
  border: 2px solid lightgray;
  border-radius: 2em;
  text-transform: uppercase;
}

@media (min-width: 992.98px) {
  .m-resume__btn:hover {
    background: black;
    color: white;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
}

.m-resume__btn--pdf {
  padding: .6em 1em;
  float: right;
}

.m-resume__btn--print {
  padding: .6em 3.5em;
}

.m-resume__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 0 44px;
}

.m-resume__item-body:after {
  content: '';
  height: 100%;
  width: 2px;
  background: lightgray;
  position: absolute;
  top: 0;
  left: 50%;
}

.m-resume__unit {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 35px 0 0;
}

.m-resume__unit-title {
  text-align: right;
}

.m-resume__body-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.m-resume__unit-col {
  text-align: right;
}

.m-resume__unit-col:not(:last-child) {
  margin: 0 0 55px;
}

.m-resume__unit-col-date, .m-resume__box-col-date {
  font-size: 15px;
  margin: 0 0 15px;
  text-decoration: underline;
}

.m-resume__unit-col-date span, .m-resume__box-col-date span {
  font-weight: 700;
  text-transform: capitalize;
}

.m-resume__unit-col-title, .m-resume__box-col-profession {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 7px;
}

.m-resume__unit-col-subtitle {
  font-size: 14px;
  font-style: italic;
  margin: 0 0 10px;
}

.m-resume__unit-col-par {
  font-size: 13px;
  color: gray;
  line-height: 1.5;
}

.m-resume__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 0 0 35px;
}

.m-resume__box-col {
  margin: 0 0 40px;
}

.m-resume__box-col-location {
  font-size: 13px;
}

.m-resume__box-col-title {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.m-resume__box-col-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-resume__box-col-skills-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.m-resume__box-col-skills-text-item {
  font-size: 14px;
  color: gray;
}

.m-resume__box-col-skills-text-item:not(:last-child) {
  margin: 0 0 9px;
}

.m-resume__box-col-skills-graph {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 3px 0 0;
}

.m-resume__box-col-skills-graph span {
  width: 100%;
  height: 9px;
  background: lightgray;
  display: block;
  margin: 0 0 14px;
  position: relative;
}

.m-resume__box-col-skills-graph span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: gray;
}

.m-resume__box-col-skills-graph span:first-child:after {
  width: 80%;
}

.m-resume__box-col-skills-graph span:nth-child(2):after {
  width: 90%;
}

.m-resume__box-col-skills-graph span:nth-child(3):after {
  width: 85%;
}

.m-resume__box-col-skills-graph span:last-child:after {
  width: 70%;
}

.m-resume__box-col-awards-unit {
  padding: 0 0 0 50px;
}

.m-resume__box-col-awards-unit:not(:last-child) {
  margin: 0 0 60px;
}

.m-resuem__box-col-awards-unit-title {
  font-style: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px;
  position: relative;
}

.m-resuem__box-col-awards-unit-title:before {
  content: '2016';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50px;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
}

.m-resume__box-col-awrads-unit-subtitle {
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  margin: 0 0 25px;
}

.m-resume__box-col-awards-unit-par {
  line-height: 1.5;
  font-size: 14px;
  font-style: oblique;
}
